.text2 {
  height: 62vh;
  background-color: #05005a;
}

.text2-heading {
  padding-left: 70px;
  padding-top: 40px;
  h3 {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 200;
  }
}

.text2-svg1 {
  align-items: center;
  display: block;
  justify-content: space-between;

  .round {
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
    width: 110px;
    height: 110px;
    border: 2px solid #4078ff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;

    span {
      color: white;
      font-size: 25px;
      font-weight: 100;
      margin-left: 23px;
      margin-top: 25px;
    }
    h4 {
      font-size: 70px;
      font-weight: 100;
      color: white;
    }
  }

  .text2-svg1-para1 {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: -16px;
    h5 {
      font-weight: 100;
    }
  }

  .text2-svg1-para2 {
    text-align: center;
    color: #4078ff;
    font-size: 25px;
    line-height: 2rem;
    h5 {
      font-weight: 100;
    }
  }
}

.text2-svg2 {
  align-items: center;
  display: block;
  justify-content: space-between;

  .round {
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
    width: 110px;
    height: 110px;
    border: 2px solid #4078ff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;

    span {
      color: white;
      font-size: 25px;
      font-weight: 100;
      margin-left: 23px;
      margin-top: 25px;
    }
    h4 {
      font-size: 70px;
      font-weight: 100;
      color: white;
    }
  }

  .text2-svg1-para1 {
    text-align: center;
    color: white;
    font-size: 25px;
    h5 {
      font-weight: 100;
    }
  }

  .text2-svg1-para2 {
    text-align: center;
    color: #4078ff;
    font-size: 25px;
    line-height: 2rem;
    h5 {
      font-weight: 100;
    }
  }
}

.text2-svg3 {
  align-items: center;
  display: block;
  justify-content: space-between;

  .round {
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: sans-serif;
    width: 110px;
    height: 110px;
    border: 2px solid #4078ff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;

    span {
      color: white;
      font-size: 25px;
      font-weight: 100;
      margin-left: 23px;
      margin-top: 25px;
    }
    h4 {
      font-size: 70px;
      font-weight: 100;
      color: white;
    }
  }

  .text2-svg1-para1 {
    text-align: center;
    color: white;
    font-size: 25px;
    h5 {
      font-weight: 100;
    }
  }

  .text2-svg1-para2 {
    text-align: center;
    color: #4078ff;
    font-size: 25px;
    line-height: 2rem;
    h5 {
      font-weight: 100;
    }
  }
}

.text2-svg4 {
  align-items: center;
  display: block;
  justify-content: space-between;

  .round {
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: sans-serif;
    width: 110px;
    height: 110px;
    border: 2px solid #4078ff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;

    span {
      color: white;
      font-size: 25px;
      font-weight: 100;
      margin-left: 23px;
      margin-top: 25px;
    }
    h4 {
      font-size: 70px;
      font-weight: 100;
      color: white;
    }
  }

  .text2-svg1-para1 {
    text-align: center;
    color: white;
    font-size: 25px;
    h5 {
      font-weight: 100;
    }
  }

  .text2-svg1-para2 {
    text-align: center;
    color: #4078ff;
    font-size: 25px;
    line-height: 2rem;
    h5 {
      font-weight: 100;
    }
  }
}
